[submodule "robotont/robotont_driver"]
	path = robotont/robotont_driver
	url = https://github.com/robotont/robotont_driver
[submodule "robotont/robotont_description"]
	path = robotont/robotont_description
	url = https://github.com/robotont/robotont_description
[submodule "robotont/robotont_msgs"]
	path = robotont/robotont_msgs
	url = https://github.com/robotont/robotont_msgs
[submodule "robotont/robotont_navigation"]
	path = robotont/robotont_navigation
	url = https://github.com/robotont/robotont_navigation
