<?xml version="1.0" ?>
<launch>
  <!--
    '__ns' is needed as an explicit argument because it does not propagate as an argument to the included launch files.
    As eval may not contain double underscore expressions, a new argument (eval_underscore_bypass) is defined to by-pass this issue.
    When a namespace is specified, it is also converted into prefix with a trailing slash.
  -->
  <arg name="__ns" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>
  <arg name="rviz_fixed_frame" default="$(arg prefix)odom"/>
  <arg name="spawn_at_x" default="0.0"/>

  <node name="fake_driver_node" pkg="robotont_driver" type="fake_driver_node" output="screen">
    <param unless="$(eval prefix == '_')" name="odom_frame" value="$(arg prefix)odom"/>
    <param unless="$(eval prefix == '_')" name="base_frame" value="$(arg prefix)base_footprint"/>
  </node>

  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" required="true" args="$(arg spawn_at_x) 0 0 0 0 0 map $(arg __ns)/odom 20"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
</launch>
